body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

 nav {
      background-color: #4A90E2;
      padding: 14px;
      text-align: center;
    }

    nav a {
      color: white;
      text-decoration: none;
      margin: 0 15px;
      font-weight: bold;
    }

main {
  padding: 20px;
}

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  
}

[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #ffffff;
  op

}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}


